# Linear Regression Project

## NASA Airfoil Pressure Level

Author: Piotr Druzdzel <br>
E-mail: piotr.druzdzel@gmail.com <br>

Data source: UCI Machine Learning Repository <br>
https://archive.ics.uci.edu/ml/datasets/Airfoil+Self-Noise

Data Set Information: <br>
The NASA data set comprises different size NACA 0012 airfoils at various wind tunnel speeds and angles of attack. <br>
The span of the airfoil and the observer position were the same in all of the experiments.

Independent variables: <br>
1. Frequency, in Hertzs. <br>
2. Angle of attack, in degrees. <br>
3. Chord length, in meters. <br>
4. Free-stream velocity, in meters per second. <br>
5. Suction side displacement thickness, in meters. <br>

Dependent variable: <br>
6. Scaled sound pressure level, in decibels.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn as sk

Importing dataset:

In [22]:
df_original = pd.read_csv("airfoil_self_noise.dat", 
                          sep='\t', 
                          names=["Frequency", "AoA", "Chord", "V_inf", "displacement_t", "SPL"], 
                          engine='python')

Making a copy and checking the structure:

In [23]:
df = df_original.copy()
df

      Frequency   AoA   Chord  V_inf  displacement_t      SPL
0           800   0.0  0.3048   71.3        0.002663  126.201
1          1000   0.0  0.3048   71.3        0.002663  125.201
2          1250   0.0  0.3048   71.3        0.002663  125.951
3          1600   0.0  0.3048   71.3        0.002663  127.591
4          2000   0.0  0.3048   71.3        0.002663  127.461
...         ...   ...     ...    ...             ...      ...
1498       2500  15.6  0.1016   39.6        0.052849  110.264
1499       3150  15.6  0.1016   39.6        0.052849  109.254
1500       4000  15.6  0.1016   39.6        0.052849  106.604
1501       5000  15.6  0.1016   39.6        0.052849  106.224
1502       6300  15.6  0.1016   39.6        0.052849  104.204

[1503 rows x 6 columns]

Routine check for missing values:

In [ ]:
df.